/* You can add global styles to this file, and also import other style files */
.background-for-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.oculto {
  display: none;
}

.cursor {
  cursor: pointer;
}
